.ProviderAdd {
  margin: 20px 100px 20px 100px;
  padding: 5px 0 10px 0px;
  background: #eeeeee;
}

.ProviderAdd__form {
  text-align: left;
  padding-left: 50px;
}

.ProviderAdd__form label {
  padding: 0 5px 0 20px;
}

.ProviderAdd__form input {
  margin-bottom: 10px;
}

.ProviderAdd__button-container {
  text-align: center;
  padding-bottom: 20px;
}
