.ProviderAdd__form {
  text-align: left;
  margin: 20px;
  padding: 20px;
  background: #EDF5F5;
  border-radius: 10px;
}

.ProviderAdd__form label {
  padding: 0 5px 0 15px;
}

.ProviderAdd__form input {
  margin-bottom: 10px;
}

.ProviderAdd__button-container {
  text-align: center;
}

#cancel-add-provider__button {
  margin-right: 20px;
}

@media only screen and (min-width: 800px) {
  .ProviderAdd__form {
    margin: 20px 100px 20px 100px;
    padding: 20px 20px 20px 50px;
  }
}