.RecommendationPage {
  text-align: left;
}

.RecommendationPage__recommmendation {
  margin: auto;
}

.RecommendationPage__buttons {
  text-align: center;
  margin: 20px 0 20px 0;
}

@media only screen and (min-width: 800px) {
  .RecommendationPage {
    margin: 20px 100px 20px 100px;
  }  
}