.VisitEdit__form {
  margin: 20px;
  padding: 25px 20px 25px 20px;
  text-align: left;
  background: #EDF5F5;
  border-radius: 10px;
}

.VisitEdit__form label {
  padding: 0 5px 0 20px;
}

.VisitEdit__form input {
  margin-bottom: 10px;
}

#visit-notes {
  max-width: 80%;
}

.VisitEdit__button-container {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .VisitEdit__form {
    margin: 20px 100px 20px 100px;
  }
}