.ProviderEdit {
  margin: 20px 20px 20px 20px;
  padding: 5px 10px 10px 0px;
  background: #eeeeee;
}

.ProviderEdit__form {
  text-align: left;
  padding-left: 20px;
}

.ProviderEdit__form label {
  padding: 0 5px 0 5px;
}

.ProviderEdit__form input {
  margin-bottom: 10px;
}

.ProviderEdit__button-container {
  text-align: center;
  padding-bottom: 20px;
}
