.ProviderEdit__form {
  text-align: left;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 35px;
  background: #EDF5F5;
  border-radius: 10px;
  max-width: 100%;
}

.ProviderEdit__form label {
  padding: 0 10px 0 10px;
}

.ProviderEdit__form input {
  margin-bottom: 10px;
}

.ProviderEdit__button-container {
  text-align: center;
}

@media only screen and (min-width: 800px) {
  .ProviderEdit__form {
    margin: 20px 100px 20px 100px;
    padding: 20px 20px 20px 50px;
  }
}