.ProvidersList__button-add {
  text-align: left;
  margin-left: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin: 0px 0px 0px -40px;
}

a {
  text-decoration: none;
  color: #0B4343;
}

a:hover,
a:active {
  color: #808080;
}

.hcp_address {
  font-weight: bold;
}

@media only screen and (min-width: 800px) {
  li {
    margin: 0px 100px 0px 60px;
  }

  .ProvidersList__button-add {
    margin-left: 60px;
  }
}
