.RecommendationEdit__form {
  margin: 20px;
  padding: 20px;
  text-align: left;
  background: #EDF5F5;
  border-radius: 10px;
}

.RecommendationEdit__form label {
  padding: 0 5px 0 20px;
}

.RecommendationEdit__form input {
  margin-bottom: 10px;
}

.RecommendationEdit__form select {
  max-width: 100%;
}

.RecommendationEdit__button-container {
  text-align: center;
  padding-top: 20px;
}

#recommendation-notes {
  margin: 10px 0 0 20px;
  max-width: 80%;
}

@media only screen and (min-width: 800px) {
  .RecommendationEdit__form {
    margin: 20px 100px 20px 100px;
  }

  .RecommendationEdit__form {
    padding-left: 50px;
  }
}