.VisitAdd__form {
  margin: 20px;
  padding: 30px 25px 25px 25px;
  text-align: left;
  background: #EDF5F5;
  border-radius: 10px;
}

.VisitAdd__form label {
  padding: 0 5px 0 20px;
}

.VisitAdd__form input {
  margin-bottom: 10px;
  max-width: 80%;
}

.VisitAdd__form select{
  max-width: 80%
}

.VisitAdd__button-container {
  text-align: center;
}

#visit-notes {
  margin-left: 20px;
  max-width: 80%;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 800px) {
  .VisitAdd__form {
    margin: 20px 100px 20px 100px;
    padding: 35px 20px 20px 50px;
  }
}
